<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>TranslaTech</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="sticky-top">

		<!-- //////////////Logo and social media///////////////////// -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #31708E">
		<a class="navbar-brand logo" href="{% url 'Traduction:home' %}" title="TranslaTech">TranslaTech</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SocialMedia" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	    </button>
		<div class="collapse navbar-collapse justify-content-end" id="SocialMedia">
		    <ul class="navbar-nav nav-right">
		      <li class="nav-item active">
		        <a class="nav-link mr-5" href="https://facebook.com/" title="Facebook"><img src="{% static 'icons/Facebook.png' %}"></img></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link mr-5" href="https://instagram.com/" title="Instagram"><img src="{% static 'icons/Instagram.png' %}"></img></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link mr-5" href="https://youtube.com/" title="Youtube"><img src="{% static 'icons/YouTube.png' %}"></img></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link mr-5" href="https://gmail.com/" title="Gmail"><img src="{% static 'icons/Gmail.png' %}"></img></a>
		      </li>
		    </ul>
		</div>
</nav>

			<!-- //////////////////Options bar////////////////////// -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5085A5">
		<div class="navbar-collapse justify-content-end" id="SocialMedia1">
		    <ul class="navbar-nav nav-right">
		    <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:home' %}" title="home"><b>Home</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="#" title="Traductions"><b>Nos traductions</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:traducteurs' %}" title="Liste"><b>Traducteurs</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:blog' %}" title="blog"><b>Blog</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:recrutement' %}" title="Recrutement"><b>Recrutement</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:about' %}" title="About"><b>A propos</b></a>
		      </li>
		    </ul>
		</div>
</nav>
                {#////////////////messsages////////////////#}
{% if messages %}
      <div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
      </div>
  {% endif %}

</div>

	<!-- /////////////////////////////////Slide Image/////////////////////////// -->
<div id="carouselExampleIndicators" class="carousel" data-ride="carousel" style="height: 50vh" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 blur" src="{% static 'Images/computer.jpg' %}" style="height: 50vh" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
    <h1>Le meilleur site pour la traduction de vos documents</h1>
    <p>Naviguez-vous et bénéficiez</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 blur" src="{% static 'Images/translator.jpg' %}" style="height: 50vh" alt="Second slide">
       <div class="carousel-caption d-none d-md-block">
    <h1>Traduction vers n'importe quelle langue</h1>
    <p>Service de luxe</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 blur" src="{% static 'Images/staff.jpg' %}" style="height: 50vh" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
    <h1>Une équipe de traducteurs bien formés</h1>
    <p>vous demandez nous fournissons</p>
  </div>
    </div>
  </div>
</div>
{% block content %}
<div class="row">
	<!-- //////////Left description side ////////////////////-->

<div class="col">
    {#        ////// card////////            #}
{% for article in articles %}
	<div class="card pt-4 ml-5 mb-4 mt-2" style="background-color: #F7F9FB">
    {% if article.image %}
  <img class="card-img-top" src="{{ article.image.url }}">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.Description }}</p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#firstmodal" >Lire la suite</a>
  </div>
    </div>
    {#    //////////modal///////////////////#}
    <div class="modal fade" id="firstmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Translatech</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ article.Description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

						<!-- ////////////////////right Side///////////////-->
<div class="col">
    {% if request.user.is_authenticated %}
    {% else %}
 	<button type="button" class="btn btn-primary btn-cnx mt-4 mr-4 ml-5 mb-2" onclick="ShowAndHide('connexform', 'inscrform')">Connexion</button>
 	<button type="button" class="btn btn-primary btn-cnx mt-4 mr-2 ml-5 mb-2" onclick="ShowAndHide('inscrform', 'connexform')">Inscription</button>
    {% endif %}

							<!-- Login Form-->
<form class="text-center border border-light p-5 mt-2 mr-2 ml-2 mb-2 forms-display" id="connexform"  style="background-color: #F7F9FB" action="{% url 'Traduction:Login' %}" method="post">
    {% csrf_token %}
    <p class="h4 mb-4">Connexion</p>
    <input type="text" class="form-control mb-4" placeholder="Nom d'utilisateur" name="username">
    <input type="password" class="form-control mb-4" placeholder="Mot de passe" name="password">
    <button class="btn btn-info btn-block my-4" type="submit">Se connecter</button>
</form>
						<!-- //////////SignUp Form///////////// -->
<form class="text-center border border-light p-5 mt-2 mr-2 ml-2 mb-2 forms-display" id="inscrform" method="post" style="background-color: #F7F9FB" action="{% url 'Traduction:Signup' %}">
    {% csrf_token %}
    <p class="h4 mb-4">Inscription</p>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nom" name="Nom">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Prénom" name="Prénom">
        </div>
    </div>
    <input type="text" class="form-control mb-4" placeholder="Username" name="Username">
    <input type="email" class="form-control mb-4" placeholder="E-mail" name="Mail">
    <input type="password" class="form-control mb-4" placeholder="Mot de passe" name="Password">
    <input type="text" class="form-control mb-4" placeholder="Wilaya" name="Wilaya">
    <input type="text" class="form-control mb-4" placeholder="Commune" name="Commune">
    <input type="text" class="form-control mb-4" placeholder="Adresse" name="Adresse">
    <input type="text" class="form-control mb-4" placeholder="Telephone" name="Telephone">
    <input type="text" class="form-control mb-4" placeholder="Fax" name="Fax">
    <button class="btn btn-info my-4 btn-block" type="submit">S'inscrire</button>
</form>
{#            /////////////////////////////Traducteur Signup form/////////////////////////#}
<form class="text-center border border-light p-5 mt-2 mr-2 ml-2 mb-2 forms-display" style="background-color: #F7F9FB" id="inscrformtrad" method="post"  action="{% url 'Traduction:SignupTrad' %}">
    {% csrf_token %}
    <p class="h4 mb-4">Inscription</p>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nom" name="Nom">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Prénom" name="Prénom">
        </div>
    </div>
    <input type="text" class="form-control mb-4" placeholder="Username" name="Username">
    <input type="email" class="form-control mb-4" placeholder="E-mail" name="Mail">
    <input type="password" class="form-control mb-4" placeholder="Mot de passe" name="Password">
    <select multiple class="form-control mb-4" name="language">
        {% for langue in langues %}
        <option value="{{ langue }}">{{ langue.title }}</option>
        {% endfor %}
    </select>
    <label for="type">Type des traductions</label>
    </select>
    <select  class="form-control mb-4" name="type" id="type">
        <option value="General">General</option>
        <option value="Scientifque">Scientifque</option>
        <option value="Web">Web</option>
    </select>
    <input type="text" class="form-control mb-4" placeholder="Wilaya" name="Wilaya">
    <input type="text" class="form-control mb-4" placeholder="Commune" name="Commune">
    <input type="text" class="form-control mb-4" placeholder="Adresse" name="Adresse">
    <input type="text" class="form-control mb-4" placeholder="Telephone" name="Telephone">
    <input type="text" class="form-control mb-4" placeholder="Fax" name="Fax">
    <button class="btn btn-info my-4 btn-block" type="submit">S'inscrire</button>
</form>


{% if request.user.is_client or request.user.is_translator and request.user.is_authenticated %}
<!-- ///////////////////Demande devis///////////////// -->
<form class="text-center border border-light p-5 mt-4 mr-2 ml-2 mb-2" action="{% url 'Traduction:add_devis' %}"  enctype="multipart/form-data" method="post" style="background-color: #F7F9FB">
    {% csrf_token %}
    <p class="h4 mb-4">Demande de devis</p>
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" name="nom" class="form-control" placeholder="Nom">
        </div>
        <div class="col">
            <input type="text" name="prenom" class="form-control" placeholder="Prénom">
        </div>
    </div>
    <input type="email" name="mail" class="form-control mb-4" placeholder="E-mail">
    <input type="text" name="adresse" class="form-control mb-4" placeholder="Adresse">
    <select  multiple class="form-control mb-4" name="traducteur">
        {% for traducteur in traducteurs %}
        <option value="{{ traducteur.username }}">{{ traducteur.Nom }} {{ traducteur.Prénom }}</option>
        {% endfor %}
    </select>
    <select multiple class="form-control mb-4" name="language">
        {% for langue in langues %}
        <option value="{{ langue }}">{{ langue.title }}</option>
        {% endfor %}
    </select>
    <label for="type">Type de traduction</label>
    <select  class="form-control mb-4" name="type">
        <option value="General">General</option>
        <option value="Scientifque">Scientifque</option>
        <option value="Web">Web</option>
    </select>
    <div class="form-group">
    <label for="fichier">Insérer le fichier</label>
    <input type="file" class="form-control-file" id="fichier" name="fichier">
  </div>
    <div class="form-group">
    <label for="zone">Commentaires</label>
    <textarea class="form-control" name="zone" rows="5"></textarea>
  </div>
    <button class="btn btn-info my-4 btn-block" type="submit">Envoyer</button>
</form>
{% endif %}
</div>
</div>
{% endblock content %}

<div style="background-color: #687864;">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #687864">
		<div class="navbar-collapse justify-content-end" id="SocialMedia1">
		    <ul class="navbar-nav nav-right">
		    <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:home' %}" title="home"><b>Home</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="#" title="Traductions"><b>Nos traductions</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:traducteurs' %}" title="Liste"><b>Traducteurs</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:blog' %}" title="blog"><b>Blog</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:recrutement' %}" title="Recrutement"><b>Recrutement</b></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link menu-item" href="{% url 'Traduction:about' %}" title="About"><b>A propos</b></a>
		      </li>
		    </ul>
		</div>
</nav>
{% if request.user.is_authenticated and request.user.is_client %}
    <a href="{% url 'Traduction:client_profil' %}" style="padding-left: 50%; color: whitesmoke;">Profil</a>
    {% endif %}
{% if request.user.is_authenticated and request.user.is_translator %}
    <a href="{% url 'Traduction:traducteur_profil' %}" style="padding-left: 50%; color: whitesmoke;">Profil</a>
    {% endif %}
{% if request.user.is_authenticated and request.user.is_superuser %}
    <a href="/admin" style="padding-left: 50%; color: whitesmoke;">Profil</a>
    {% endif %}
{% if request.user.is_authenticated %}
    <a href="{% url 'Traduction:Logout' %}" style="padding-left: 50%; color: whitesmoke;">Logout</a>
    {% endif %}
    <div class="footer-copyright text-center py-3" style="color: whitesmoke">© 2020 Copyright:
    <a href="https://Esi.dz/" style="color: whitesmoke" target="_blank">Esi.dz</a>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
	function ShowAndHide(id1,id2){
	document.getElementById(id1).style.display="block";
	document.getElementById(id2).style.display="none";
}
</script>
</body>
</html>