{% extends 'base.html' %}
{% load count_template_tag %}
{% block content %}
    <div class="row">
    <div class="col-9">
    <div class="container">
<form class="text-center border border-light p-5 mt-3 mr-2 ml-2 mb-2" style="background-color: #F7F9FB" id="inscrformtrad" action="{% url 'Traduction:modify-traducteur' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="h4 mb-4">Informations</p>
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" class="form-control" value="{{ request.user.Nom }}" name="Nom">
        </div>
        <div class="col">
            <input type="text" class="form-control" value="{{ request.user.Prénom }}" name="Prénom">
        </div>
    </div>
    <input type="text" class="form-control mb-4" value="{{ request.user.username }}" name="Username">
    <input type="email" class="form-control mb-4" value="{{ request.user.email }}" name="Mail">
    <input type="password" class="form-control mb-4" placeholder="Changer mot de passe" name="Password">
    <select multiple class="form-control mb-4" name="language">
        {% for langue in langues %}
        <option value="{{ langue }}">{{ langue.title }}</option>
        {% endfor %}
    </select>
    <label for="type">Type des traductions</label>
    <select  class="form-control mb-4" name="type" id="type">
        <option value="General">General</option>
        <option value="Scientifque">Scientifque</option>
        <option value="Web">Web</option>
    </select>
    <div class="form-group">
    <label for="fichier">le fichier CV</label>
        <a href="{{ request.user.cv.url }}">ici</a><br>
        <label for="fichier">insérer le nouveau fichier</label>
    <input type="file" class="form-control-file align-center" id="cv" name="cv">
  </div>
    <div class="form-row mb-4">
        <div class="col">
            <input type="radio" value="True" name="assermente" onclick="ShowAndHide1('fichier')">  Je suis assermeté
        </div>
        <div class="col">
            <input type="radio" value="False" name="assermente" onclick="ShowAndHide2('fichier')">    je ne suis pas assermenté
        </div>
    </div>
    <div class="form-group" id="fichier" style="display: none">
    <label for="fichier">Insérer le fichier</label>
    <input type="file" class="form-control-file" name="fichier_assert">
  </div>
    <input type="text" class="form-control mb-4"  value="{{ request.user.Wilaya }}" name="Wilaya">
    <input type="text" class="form-control mb-4" value="{{ request.user.Commune }}" name="Commune">
    <input type="text" class="form-control mb-4" value="{{ request.user.Adresse }}" name="Adresse">
    <input type="text" class="form-control mb-4" value="{{ request.user.Telephone }}" name="Telephone">
    <input type="text" class="form-control mb-4" value="{{ request.user.Fax }}" name="Fax">
    <button class="btn btn-info my-4 btn-block" type="submit">Sauvegarder</button>
    </form>
</div>
                {#    /////////////////////////////////Devis////////////////////////////#}
    <div class="row forms-display" id="devis">
                    {% for devi in devis %}
                        <div class="col mt-4 mb-2" style="margin-left: 50%">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">
                                    {{ devi.client_name }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted"><span>Prix:</span>
                                {% ifequal devi.price 0 %}
                                    N/A
                                    {% else %}
                                {{ devi.price }} DA
                            {% endifequal %}
                            </h6>
                            <h6 class="card-subtitle mb-2"><span>email:</span>

                                {{ devi.client_email }}
                            </h6>
                            <p class="card-text"><span>Type: </span>{{ devi.type }}</p>
                            <p class="card-text"><span>le fichier à traduire:</span> <a href="{{ devi.fichier.url }}" target="_blank">{{ devi.fichier.url }}</a></p>
                            <a href="{% url 'Traduction:refuse_devis' pk=devi.id %}"><button class="btn btn-danger mr-4">Refuser</button></a>
                              <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Approuver</button>
                          </div>
                        </div>
                        </div>
                                {#  ///////////////////////////////////////Price Modal/////////////////////////////////////#}
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Prix de traduction</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post" action="{% url 'Traduction:approve_devis' pk=devi.id %}">
                                        {% csrf_token %}
                                      <div class="form-group">
                                        <label for="Price" class="col-form-label">Prix:</label>
                                        <input type="text" class="form-control" id="Price" name="price">
                                      </div>
                                        <button type="submit" class="btn btn-primary">Envoyer Prix</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                    {% endfor %}
                </div>
        {% comment %}////////////////////////////////Traduction/////////////////////////////{% endcomment %}
                <div class="row forms-display" id="trad">
                    {% for trad in trads %}
                        <div class="col mt-4 mb-2" style="margin-left: 50%">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">
                                    {{ trad.client_name }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted"><span>Prix:</span>
                                {{ trad.price }} DA
                            </h6>
                            <h6 class="card-subtitle mb-2"><span>email:</span>

                                {{ trad.client_email }}
                            </h6>
                            <p class="card-text"><span>Type: </span>{{ trad.type }}</p>
                            <p class="card-text"><span>le fichier à traduire:</span> <a href="{{ trad.fichier.url }}" target="_blank">{{ trad.fichier.url }}</a></p>
                              <button class="btn btn-primary" data-toggle="modal" data-target="#tradmodal">Envoyer Traduction</button>
                          </div>
                        </div>
                        </div>
                                {#  ///////////////////////////////////////Price Modal/////////////////////////////////////#}
                        <div class="modal fade" id="tradmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Prix de traduction</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                 <form method="post" action="{% url 'Traduction:envoi_trad' pk=trad.id %}"  enctype="multipart/form-data">
                                        {% csrf_token %}
                                      <div class="form-group">
                                        <label for="Price" class="col-form-label">Fichier Traduisé:</label>
                                        <input type="file" class="form-control-file align-center"  name="Traduise">
                                       </div>
                                        <button type="submit" class="btn btn-primary">Envoyer Fichier</button>
                                  </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                    {% endfor %}
                </div>
        {% comment %}////////////////////////////////deconnexion/////////////////////////{% endcomment %}
            <div id="deconnex">
                <div class="modal fade" id="deconnexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Deconnexion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p class="card-text">Etes vous sure de déconnecter?</p>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'Traduction:Logout' %}" style="color: inherit; text-decoration: none"><button type="button" class="btn btn-primary">oui</button></a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
</div>
    <div class="col-3">
        <div class="list-group mt-3 mr-5 mb-3" id="list-tab" role="tablist">
      <button class="list-group-item list-group-item-action active" data-toggle="list" onclick="ShowAndHideTrad('inscrformtrad','devis','trad','deconnex')">Informations</button>
      <button class="list-group-item list-group-item-action" data-toggle="list" onclick="ShowAndHideTrad('devis','inscrformtrad','trad','deconnex')">Demandes de devis <span class="badge badge-danger badge-pill float-right">{{ request.user|devis_count }}</span></button>
      <button class="list-group-item list-group-item-action" data-toggle="list" onclick="ShowAndHideTrad('trad','inscrformtrad','devis','deconnex')">Demandes de Traduction <span class="badge badge-danger badge-pill float-right">{{ request.user|trad_count }}</span></button>
      <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#deconnexion" onclick="ShowAndHideTrad('deconnex','inscrformtrad','trad','devis')">Deconnexion</button>
    </div>
    </div>
</div>
{% endblock content %}